<div class="details">
  <img
    ngSrc="https://files.bikeindex.org/uploads/Pu/426477/Screen_Shot_2021-04-28_at_1.46.22_PM.png"
    alt="2019 NCM eBikes Moscow Plus Electric Mountain Bike"
    width="779"
    height="634"
  />
  <section class="details-summary">
    <h1>2019 NCM eBikes Moscow Plus Electric Mountain Bike</h1>
    <ul class="details-summary-list">
      <li>
        <p class="detail-label">Location</p>
        <p class="detail-value">Denver, CO 80209, US</p>
      </li>
      <li>
        <p class="detail-label">Manufacturer</p>
        <p class="detail-value">Trek</p>
      </li>
      <li>
        <p class="detail-label">Model</p>
        <p class="detail-value">Domane sl7</p>
      </li>
      <li>
        <p class="detail-label">Status</p>
        <p class="detail-value">Stolen</p>
      </li>
    </ul>
  </section>
  <section class="details-extended">
    <section>
      <h2>Description</h2>
      <p>29" Moscow Plus Electric Mountain Bike 768 Wh 48V/16AH</p>
    </section>
    <section>
      <h2>Basics</h2>
      <div class="detail-items-grid">
        <div class="detail-item">
          <h3>Manufacturer</h3>
          <p>Trek</p>
        </div>
        <div class="detail-item">
          <h3>Model</h3>
          <p>Domane sl7</p>
        </div>
        <div class="detail-item">
          <h3>Serial Number</h3>
          <p>FMI9K90870</p>
        </div>
      </div>
    </section>
    <section>
      <h2>Location Details</h2>
      <div class="detail-items-grid">
        <div class="detail-item">
          <h3>Location Stolen</h3>
          <p>CA</p>
        </div>
        <div class="detail-item">
          <h3>Location Found</h3>
          <p>N/A</p>
        </div>
      </div>
    </section>
  </section>
</div>
