@use "styles/variables" as *;

:host {
  .result-card {
    width: 300px;
    height: 100%;
    background: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }

  .img-container {
    height: 300px;

    img {
      width: 100%;
      height: auto;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
    }
  }

  .result-box {
    padding: 0 32px;
    margin-bottom: 16px;

    h2 {
      font-size: 20px;
      margin-bottom: 32px;
    }

    .result-details {
      list-style: none;

      li {
        display: flex;
        align-items: flex-start;

        gap: 12px;
        margin-bottom: 16px;

        line-height: 1.4;

        .detail-label {
          font-weight: bold;
          flex: 0 0 120px;
        }
        .detail-value {
          flex: 1;
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }
  a {
    display: block;
    text-decoration: none;
    margin-bottom: 32px;
    padding: 0 32px;
    justify-self: end;

    .btn-more-details {
      display: block;
      background: none;
      height: 48px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 48px;
      border: 2px solid $primary-color;

      .btn-text {
        color: $primary-color;
        font-size: 18px;
      }

      .btn-icon {
        fill: $primary-color;
      }
    }
  }
}
