@use "styles/variables" as *;

:root {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Inter", "Helvetica Neue", sans-serif;
    color: $text-color;
    line-height: 1;
  }

  input,
  select,
  textarea,
  button {
    font-family: inherit;
  }

  button {
    cursor: pointer;
  }
}
