/* You can add global styles to this file, and also import other style files */
@use "styles/variables" as *;

:root {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  body {
    font-family: "Inter", "Helvetica Neue", sans-serif;
    color: $text-color;
    line-height: 1;
  }

  input,
  select,
  textarea {
    font-family: inherit;
  }
}
