<section class="bike-search-entry">
  <header>
    <h1>Search for Bikes</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis
      earum natus sed aspernatur dolore laudantium eos assumenda commodi illum
      tenetur.
    </p>
  </header>
  <app-bike-search-input
    [isLoading]="isSearchResultsLoading()"
    (searchSubmit)="searchBikes($event)"
  />
</section>
<section class="bike-search-results">
  <app-bike-search-results
    [bikeSearchResults]="bikeSearchResults()"
    [isLoading]="isSearchResultsLoading()"
    [isError]="isSearchResultsError()"
    [isSearchResultsEmpty]="isSearchResultsEmpty()"
  />
</section>
