<section class="bike-search-entry">
  <header>
    <h1>Search for Bikes</h1>
    <p>
      Our tool searches an open database for all bikes registered as stolen or
      found without an owner. Just enter your city name to begin searching for
      that missing bike.
    </p>
  </header>
  <app-bike-search-input
    [isLoading]="isSearchResultsLoading()"
    (searchSubmit)="searchBikes($event)"
  />
</section>
<section class="bike-search-results">
  <app-bike-search-results
    [bikeSearchResults]="bikeSearchResults()"
    [isLoading]="isSearchResultsLoading()"
    [isError]="isSearchResultsError()"
    [isSearchResultsEmpty]="isSearchResultsEmpty()"
  />
</section>
