:host {
  .search-results {
    .spinner-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .api-error {
      text-align: center;
    }

    .no-results {
      text-align: center;
    }

    .results-content {
      padding: 24px;

      .results-grid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 24px;
        margin-bottom: 48px;
      }

      mat-paginator {
        display: flex;
        justify-content: center;
        // background-color: orange;
      }
    }
  }
}
