:host {
  .page-not-found {
    position: relative;
    padding: 48px 0;

    .back-btn-container {
      position: absolute;
      top: -72px;
      left: 0;
    }

    section {
      width: 800px;
      margin: 0 auto;
      margin-bottom: 80px;

      h1,
      p {
        text-align: center;
      }

      h1 {
        font-size: 44px;
        line-height: 1.1;
        margin-bottom: 16px;
      }

      p {
        font-size: 18px;
        line-height: 1.7;
      }
    }
  }
}
