<form
  class="search-input"
  role="search"
  [formGroup]="searchForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-field">
    <label for="search-input-field-city">City</label>
    <input
      formControlName="city"
      placeholder="Enter city"
      type="text"
      id="search-input-field-city"
    />
  </div>
  <div class="form-field">
    <label for="search-input-field-colors">Bike Color</label>
    <select id="search-input-field-colors" formControlName="color">
      @for (color of colors(); track color.id) {
        <option [value]="color.slug">{{ color.name }}</option>
      }
    </select>
  </div>
  <div class="form-btns-container">
    <button
      [disabled]="isLoading()"
      class="btn btn--reset"
      type="button"
      (click)="handleColorReset()"
    >
      Clear color
    </button>
    <button [disabled]="isLoading()" class="btn btn--submit" type="submit">
      <span>Submit form</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
      >
        <path
          d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"
        ></path>
      </svg>
    </button>
  </div>
</form>
