@use "styles/variables" as *;

:host {
  .search-input {
    display: flex;
    align-items: center;
    gap: 1rem;

    input {
      flex: 1 1 auto;
      border-radius: 2rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      font-size: 1rem;
      height: 2.75rem;
      border: 2px solid #adb5bd;
      outline: 2px solid transparent;
      outline-offset: -2px;
      transition: outline-color 0.2s ease-in-out;
    }

    input:focus,
    input:focus-visible {
      outline-color: $primary-color;
    }

    button {
      height: 2rem;
      width: 2rem;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid $primary-color;

      svg {
        height: 1.5rem;
        fill: $primary-color;
      }
    }

    button:disabled {
      border-color: #adb5bd;

      svg {
        fill: #adb5bd;
      }
    }

    @media (max-width: 340px) {
      gap: 0.25rem;
    }
  }
}
